* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url("bg\ t.webp");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}
.main {
    padding: 20px;
    font-family: 'Helvetica', serif;
    box-shadow: 5px 5px 7px 5px #888888;
}

.main h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Helvetica', serif;
}

input {
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}

input[type=submit] {
    font-family: 'Helvetica', serif;
    width: 100%;
    background-color: #767474;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}

.form-box
{
	width: 680px;
	height: 600px;
	position: relative;
	margin: 6% auto;
	background: #fff8;
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.4);
}

.button-box
{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px rgba(0,0,0,.1);
	border-radius: 30px;
}

.toggle-btn
{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	position: relative;
	border: 0;
	outline: none;
}

#btn
{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border-radius: 30px;
	transition: 0.5s;
}
.social-icons
{
	margin: 30px auto;
	text-align: center;
}
.social-icons img
{
	width: 30px;
	margin: 0 7px;
	cursor: pointer;
	opacity: 0.85;
}
